body{
    background-color: rgb(31 41 55);
}
header{
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1.5rem;
    position: relative;
    box-sizing: border-box;
}
.container-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Poppins, sans-serif;
}
.icons-left{
    gap: 2rem;
    display: flex;
    font-family: Poppins, sans-serif;
}
.icon-page-link{
    max-width: 6.5rem;
    border-radius: 9999px;
}
.page-icon{
    width: 6.5rem;
}
img {
    overflow: hidden;
    text-indent: -100vw;
    height: auto;
    max-width: 100%;
    display: block;
}
a{
    color: inherit;
    text-decoration: inherit;
    font-family: Poppins, sans-serif;
}
.icons-home-series-chapters{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    width: 10em;
}
.icon-home-link{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: inherit;
    display: inline-block;
    height: 1em;
    width: 1em;
}
#icon-home{
    vertical-align: middle;
    width: 1em;
    height: 1em;
    
}
span{
    font-family: Poppins, sans-serif;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;

}
.icon-series-link{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: inherit;
    display: inline-block;
    height: 2em;
    width: 2em;
    padding-left: 2em;
    display: none;
}
.icon-chapters-link{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: inherit;
    display: inline-block;
    height: 2em;
    width: 2em;
    padding-left: 2em;
    display: none;
}
.icon-title{
    background-color: #fcd34d40;
}
h2{
    font-family: Poppins, sans-serif;
    color: inherit;
    text-decoration: inherit;
}
#img-RedStorm-link{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: inherit;
    display: inline-block;
    height: 15em;
    width: 15em;
    text-align: center;
}
#img-PeerlessDad-link{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: inherit;
    display: inline-block;
    height: 15em;
    width: 15em;
    text-align: center;
}
#img-TalesOfDemonsAndgods-link{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: inherit;
    display: inline-block;
    height: 15em;
    width: 15em;
    text-align: center;
}