body{
    background-color: rgb(31 41 55);
}
@font-face{
    font-family:Poopins;
    src: url(../font/Poppins-Medium.ttf);
}
@font-face{
    font-family:PoopinsLight;
    src: url(../font/Poppins-Light.ttf);
}
#info{
    position: absolute;
    position: relative;
    display: block;
    width: 100%;
    height: 1.5rem;
    top: 0;
    background-color: yellow;
    z-index: 1;
    position:fixed;
}
#icon-info{
    position: absolute;
    left: 36%;
    top: 17%;
}
#text-info{
    position: absolute;
    z-index: 3;
    top: -63%;
    left: 37%;
    font-family: PoopinsLight, sans-serif;
    font-size: 15px;
}
#ocultar-btn{
    position: absolute;
    right: 1rem;
    top: 0.1rem;
    border-radius: 50%;
}
header{
    position: relative;
    box-sizing: border-box;
    width: 70%;
    height: 9em;
    left: 17em;
    
}
.container-icons{
    box-sizing: border-box;
    position: absolute;
    position: relative;
    width: auto;
    height: 7em;
    font-family: Poppins, sans-serif;
    top: 0.7em;
}
.page-icon{
    position: absolute;
    height: 6em;
    width: 6em;
}
.icons-left {
    display: flex;
    justify-content: flex-start;
    width: auto; 
}
.icons-home-series-chapters {
    margin-left: 6.5em;
    display: flex; 
    gap: 1em; 
    align-items: center;
    justify-content: flex-start; 
    width: auto;
    padding: 0.5em;
}

.icon-home-link, .icon-series-link, .icon-chapters-link, .icons-search-link, .icons-user-link {
    display: inline-flex; 
    align-items: center;
    gap: 0.5em; 
    padding: 0.2em 0.4em;
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    min-width: 5em; 
    min-height: 3em; 
    justify-content: center;
    text-decoration: none;
}

.icon-home-link:hover, .icon-series-link:hover, .icon-chapters-link:hover, .icons-search-link:hover, .icons-user-link:hover {
    background-color:  rgba(41, 53, 71, 0.911); 
}
.icon-home-link img, .icons-search-link img, .icons-user-link img{
    width: 1em;
    height: 1em;
}
.icon-series-link img, .icon-chapters-link img {
    width: 2em;
    height: 2em;
}

span {
    color: white;
    font-family: Poppins, sans-serif;
}

.icons-right {
    box-sizing: border-box;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto;
    padding: 0.5em;
}

.icons-search-user {
    display: flex;
    gap: 1em; 
    align-items: center; 
}
.left-ad{
    position: absolute;
    border: 3px solid black;
    width: 13%;
    height: 100%;
    left: 0;
    top: 2.7em;
    z-index: 1;
    
}
.right-ad{
    position: absolute;
    border: 3px solid black;
    width: 13%;
    height: 100%;
    right: 0;
    top: 2.7em;
    z-index: 2;
}
.menu-intro{
    position: relative;
    position: absolute;
    left: 18em;
    top: 12em;
    height: 40%;
    width: 69%;
}
.img-left-link{
    display: block;
    float: left;
    width: 50%;
    height: 98%;
    border-radius: 5px;
    overflow: hidden;
    
}
.img-right1-link, .img-right2-link{
    float: right;
    display: block;
    width: 48%;
    height: 45%;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 1em;
}
.img-right2-link{
    margin-top: 1.7em;
}
.img-left{
    width: 100%;
}
.img-right1, .img-right2{
    width: 100%;
}
#span-right1{
    font-family: Poopins, sans-serif;
    position: absolute;
    left: 70%;
    top: 37%;
    z-index: 1;
    font-size: 1.5em;
}
#span-right2{
    font-family: Poopins, sans-serif;
    position: absolute;
    left: 67%;
    top: 88.4%;
    z-index: 1;
    font-size: 1.5em;
    z-index: 10;
}